@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Muli", sans-serif;
}
.mr-auto{
  
  margin-left: auto !important;
    

  
}
.navbar a {

  text-transform: capitalize;
  
}
.menu_active{
  font-weight: bold;
  border-bottom: 1px solid black !important;
}
.active1{
  font-weight: bold;
}
.ch:hover{
  font-size: large;
  border-bottom: 1px solid ;
}
#header{
  margin-top: 7px;
  width: 100%;
  height: 80vh;
  
}
#header h1{
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  color: black;

}
#brand{
  color: blue;
}
#btn1{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 10px 30px;
  border-radius: 50px;
  color: #3498db;
  border: 2px solid #3498db;
  text-decoration: none;
  display: inline-block;
  transition: 0.5s;
}
#btn1:hover{
  background-color:  #3498db;
  color: white;
}
#img1{
  height: 350px;
  width: 350px;
}
.header-img{
  
}
.animation{
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@keyframes up-down {
 0%{
   transform: translateY(10px);
 } 
 100%{
   transform: translateY(-10px);
 }
}
#imgsr{
  width: 100%;
  height: 150px;
}
.contact_form{
  width: 100%;
  height: 70vh;
  
}
.contact_form input ,label,small,button{
  margin-top: 20px !important;
}
footer p{
  margin: 0;
  padding: 0;
  

}
/* #footer{
  position: absolute;
  
  bottom: 0;
} */
@media (min-width: 999px){
#footer{
  background-color: bisque;
}
}